<nav class="navbar navbar-custom border-square" style="margin-bottom: 0px;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<span class="glyphicon glyphicon-tags"></span>
				<span class="hidden-xs">&nbsp;Store</span>
			</a>
			<!-- Search Bar mobile -->
			<span class="visible-xs" style="margin-top: 8px;">
				<form class="form-group" style="margin-bottom: 0;" role="search">
					<div class="input-group" style="padding-right: 15px;">
						<input type="text" class="form-control" placeholder="Search..." />
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search text-muted"></span>
							</button>
						</div>
					</div>
				</form>
			</span>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">Home</a>
				</li>
				<li class="active">
					<a href="#">Products <span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<!-- Search Bar Desktop -->
			<div class="col-sm-6 col-md-7 col-lg-8 hidden-xs" style="margin-top: 8px; margin-left: 15px;">
				<form class="form-group" style="margin-bottom: 0;" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for products..." name="srch-term" id="srch-term">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search text-muted"></span>
							</button>
						</div>
					</div>
				</form>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<button class="hidden-xs btn btn-success" style="margin-top: 8px;">
						<span class="glyphicon glyphicon-shopping-cart"></span>
						 Cart (15)
					</button>
				</li>
			</ul>
		</div>
	</div>
</nav>
