<div class="col-xs-12 col-sm-9" ng-controller="productListController">
	<div class="col-xs-6">
		<h6 class="text-left text-muted">
			<strong>
				<span id="sort-price">
					PRICE&nbsp;<span class="glyphicon glyphicon-sort"></span>
				</span>
				<span class="divider-bar">|</span>
				<span id="sort-alpha">
					A - Z&nbsp;<span class="glyphicon glyphicon-sort"></span>
				</span>
			</strong>
		</h6>
	</div>
	<div class="col-xs-6" style="margin-top: 6px;">
		<h6 class="text-right text-muted">
			<strong>PAGE 1 OF 4</strong>
		</h6>
	</div>	
	<div class="col-xs-12">
		<div class="panel panel-primary border-square" ng-repeat="product in data.products">
			<div class="panel-heading border-square">
				<strong>{{ product.name }}</strong>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<img class="img-responsive center-block" src="image-sm.jpg" />
						<br />
					</div>
					<div class="col-xs-12 col-sm-7">
						<p>{{ product.description }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-5">
						<hr style="border-color: #DDDDFF !important;" />
					</div>
					<div class="col-xs-4 col-sm-2">
						<h4 class="text-center text-danger">
							<strong>{{ product.price | currency }}</strong>
						</h4>
					</div>
					<div class="col-xs-4 col-sm-5">
						<hr style="border-color: #DDDDFF !important;" />
					</div>
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<button ng-click="addToCart(product)" class="btn btn-warning btn-block">Add to Cart</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<nav class="text-center">
			<ul class="pagination pagination-lg">
				<li class="disabled">
					<a href="#">
						<span>&laquo;</span>
					</a>
				</li>
				<li class="active">
					<a href="#" ng-click="paginationTest()">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">
						<span>&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
