<div class="row" ng-controller="productListFilterController" style="border-right: 1px solid #DDDDDD;">
	<!-- Category Filter -->
	<div class="col-xs-12">
		<h6>
			<strong>CATEGORY</strong>
		</h6>
	</div>
	<div class="col-xs-12">
		<select class="form-control"
			ng-model="categoryId"
			ng-change="filterProducts()" 
			ng-options="category.id as category.name for category in categoryList.categories">
		</select>
	</div>
	<!-- Min Price Filter -->
	<div class="col-xs-12">
		<h6>
			<strong>MIN PRICE</strong>
		</h6>
	</div>
	<div class="col-xs-12">
		<div class="input-group" ng-class="{'has-error': !isValidMin()}">
			<div class="input-group-addon">$</div>				
			<select class="form-control"
				ng-model="minPrice"
				ng-change="isValidMin() && filterProducts()"
				ng-options="minPrice for minPrice in minPriceRange">
			</select>
		</div>
	</div>
	<!-- Max Price Filter -->
	<div class="col-xs-12">
		<h6>
			<strong>MAX PRICE</strong>
		</h6>
	</div>
	<div class="col-xs-12">
		<div class="input-group" ng-class="{'has-error': !isValidMax()}">
			<div class="input-group-addon">$</div>				
			<select class="form-control"
				ng-model="maxPrice"
				ng-change="isValidMax() && filterProducts()"
				ng-options="maxPrice for maxPrice in maxPriceRange">
			</select>
		</div>
	</div>
</div>
