<!-- Cart Desktop -->
<div ng-if="!emptyCart()" class="hidden-xs col-md-10 col-md-offset-1 col-lg-9">
	<div class="row">
		<!-- Checkout Panel -->
		<div class="col-xs-12 col-sm-3">
			<br />
			<ng-include src="'app/partials/checkoutPanel.html'"></ng-include>
		</div>
		<!-- Cart List -->
		<div class="col-xs-12 col-sm-9">
			<ng-include src="'app/partials/cartList.html'"></ng-include>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
	<!-- Cart Mobile -->
	<div class="row" ng-if="!emptyCart()">
		<!-- Checkout Button -->
		<div class="col-xs-12">
			<a href="underConstruction" class="visible-xs btn btn-warning btn-block">
				<span class="glyphicon glyphicon-shopping-cart"></span>
				 Checkout ({{ cart.size }}) - {{ cart.subtotal | currency }}
			</a>
			<br />
		</div>
		<!-- Cart List -->
		<div class="visible-xs col-xs-12">
			<ng-include src="'app/partials/cartList.html'"></ng-include>
		</div>
	</div>
	<!-- Empty Cart -->
	<div ng-if="emptyCart()" class="jumbotron" style="padding-left: 50px;">
		<h1>Your cart is empty :(</h1>
		<p><a class="btn btn-primary btn-lg" href="products" role="button">Let's Shop!</a></p>
	</div>
</div>
