<nav class="navbar navbar-custom border-square" style="margin-bottom: 0px;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="home" class="navbar-brand">
				<span class="glyphicon glyphicon-tags"></span>
				<span class="hidden-xs">&nbsp;Store</span>
			</a>
			<h3 class="visible-xs" style="color: #FFFFFF; margin-top: 13px;">
				<span ng-if="isCurrentPage('/home')">&nbsp;Home</span>
				<span ng-if="isCurrentPage('/cart')">&nbsp;Cart</span>
			</h3>		
			<!-- Search Bar mobile -->
			<form 	ng-if="isCurrentPage('/products') || isCurrentPage('/')" 
					class="form-group visible-xs" 
					style="margin-bottom: 4px; margin-top: -4px;" 
					role="search">
				<div class="input-group" style="padding-right: 15px;">
					<input type="text" ng-model="searchVal" class="form-control" placeholder="Search..." />
					<div class="input-group-btn">
						<button ng-click="searchProducts(searchVal)" class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-search text-muted"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-class="{ active: isCurrentPage('/home') }">
					<a href="home">Home</a>
				</li>
				<li ng-class="{ active: isCurrentPage('/products') || isCurrentPage('/') }">
					<a href="products">Products</a>
				</li>
				<li ng-show="isCurrentPage('/cart')" class="active">
					<a href="cart">Cart</a>
				</li>
			</ul>
			<!-- Search Bar Desktop -->
			<div ng-if="isCurrentPage('/products') || isCurrentPage('/')" class="col-sm-6 col-md-7 col-lg-8 hidden-xs" style="margin-top: 8px; margin-left: 15px;">
				<form class="form-group" style="margin-bottom: 0;" role="search">
					<div class="input-group">
						<input type="text" ng-model="searchVal" class="form-control" placeholder="Search for products...">
						<div class="input-group-btn">
							<button ng-click="searchProducts(searchVal)" class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search text-muted"></span>
							</button>
						</div>
					</div>
				</form>
			</div>
			<!-- Cart Button Desktop -->
			<ul ng-if="!isCurrentPage('/cart')" class="hidden-xs nav navbar-nav navbar-right">
				<li>
					<p class="navbar-btn">
						<a href="cart" class="btn btn-success">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							 Cart ({{ cart.size }})
						</a>
					</p>
				</li>
			</ul>
		</div>
	</div>
</nav>
