<nav class="text-center">
	<ul class="pagination pagination-lg">
		<li ng-class="{'disabled': isFirstPage()}"
			ng-click="previousPage()">
			<a href="#" onClick="return false;">
				<span>&laquo;</span>
			</a>
		</li>
		<li ng-repeat="pageNum in productList.pageRange"
			ng-class="{'active': isCurrentPage(pageNum)}" 
			ng-click="changePage(pageNum)">
			<a href="#" onClick="return false;">{{ pageNum }}</a>
		</li>
		<li ng-class="{'disabled': isLastPage()}"
			ng-click="nextPage()">
			<a href="#" onClick="return false;">
				<span>&raquo;</span>
			</a>
		</li>
	</ul>
</nav>
